name: Windows Build

on:
  workflow_dispatch:

env:
  # https://flet.dev/docs/publish#versioning

  # Python version to use
  PYTHON_VERSION: 3.13.7

  # flet-cli version to install for `flet build`
  FLET_CLI_VERSION: 0.28.3

  # Ensures Python uses UTF-8 encoding by default
  PYTHONUTF8: 1

  # Disables rich text formatting in Flet CLI output
  FLET_CLI_NO_RICH_OUTPUT: 1

  # Disables progress bars when using UV
  UV_NO_PROGRESS: 1

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install depenensic
      run: |
        python -m pip install poetry
        poetry install
    - name: Flet Build Windows
      run: |
        poetry run flet build windows --verbose --no-rich-output
    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        name: windows-build-artifact
        path: build/windows
        if-no-files-found: error
        overwrite: false