name: Windows Build

on:
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.13.7
  FLET_CLI_VERSION: 0.28.3
  PYTHONUTF8: 1
  FLET_CLI_NO_RICH_OUTPUT: 1
  UV_NO_PROGRESS: 1

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Устанавливаем Flutter stable
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "stable"
        channel: stable

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry install

    - name: Flet Build Windows
      run: |
        poetry run flet build windows --verbose --no-rich-output

    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        name: windows-build-artifact
        path: build/windows
        if-no-files-found: error
        overwrite: false
