name: Windows Build

on:
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.13.7
  FLET_CLI_VERSION: 0.28.3
  PYTHONUTF8: 1
  FLET_CLI_NO_RICH_OUTPUT: 1
  UV_NO_PROGRESS: 1

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install Poetry & Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry config virtualenvs.create false --local
        poetry install

    - name: Install Flet CLI
      run: python -m pip install "flet==${{ env.FLET_CLI_VERSION }}"

    - name: Flet Build Windows
      run: poetry run flet pack src\main.py --add-data "src\assets;assets" -i build_assets\setup.ico -y -n lsslauncher --uac-admin

    - name: Updater Build Windows
      run: pyinstaller .\update.py --onefile --noconsole -i "build_assets\setup.ico" --name update --add-data "build_assets;build_assets" -d imports --uac-admin

    
    - name: Install Inno Setup
      run: choco install innosetup --yes

    - name: Build installer
      run: iscc lssinstaller.iss
    
    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        name: windows-build-artifact
        path: dist
        if-no-files-found: error
        overwrite: false
    - name: Upload artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        name: installer
        path: Output/mysetup.exe